//Colors
$primaryGrey: #333333;
$primaryDark: #252729;
$secondaryGrey: #888;
$pGrey: #6a6a6a;
$solidGrey: #cccccc;
$highlightColor: #02a8c5;
$linkColor: #b7336f;
$linkHover: #770e3d;
$lightGrey: #f6f6f6;
