@use "../../scss/config/variables" as *;
@use "../../scss/config/mixins" as *;
@use "../../scss/config/layers" as *;

.SocialIcons {
    position: fixed;
    right: 20px;
    top: 26px;
    z-index: layer("top-nav-bar-icons");
    ul {
        display: inline;
        li {
            display: inline;
            padding-right: 0.2rem;
            a {
                color: $secondaryGrey;
                display: inline;
                padding-right: 1rem;
                font-size: rem-calc(30);
                &:hover {
                    color: $highlightColor;
                }
            }
        }
    }
}
